@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.conten{
  background: linear-gradient(135deg, #0e74da, #1f94ee, #98c4ff, #0e74da, #1f94ee);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  animation: animacion 10s infinite;
  background-size: 500%;
}

@keyframes animacion{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}
.container-perfil{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card-perfil-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.card-info-perfil{
  border-radius: 20px;
  padding: 10px;
}

.btn-white{
  background-color: #fff;
  color: #0e74da
}


.card-info{
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
}

.card-content-info {
  padding: 20px;
  background: #f3f5f6;
  border: none;
  border-radius: 40px; /* Adjusted border-radius for a slightly rounded appearance */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.row-details {
  display: flex;
  align-items: center;
}

.container-icon {
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  margin-left: 20px; /* Adjusted margin for spacing between the icon and text */
}

.text h6 {
  margin-bottom: 5px; /* Added margin for spacing between heading and paragraph */
}

.row-datils{
  flex-wrap: nowrap;
}

.card-formulario{
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.SignaturePad{
  cursor: crosshair;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.12);
  width: 100%;
}

.title-icon{
  font-size: 60px;
  color: #c8222b;
}


.example-viewport {
  height: 400px;
  width: 100%;
}


.content-ilustration {
  display: flex;
  flex-direction: row;
}

.stock-badge {
  color: #166534 !important;
  background-color: #dcfce7 !important;
}


.v-separator
{
    content: "";
    display: inline;
    width:0px;
    height: 24px;
    border-left: 1px solid rgba(63, 63, 63, 0.541);
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.ilustration {
  width: 30px;
  height: 30px;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: rgb(42, 102, 192);
  transition: all 0.2s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}
