@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background: linear-gradient(180deg, #8bc5f5 0%, #b1cff5 100%);
    /* background-color: #d7c0f6 !important; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container-fluid{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

}

.eslogan{
    height: 100vh;
    background: linear-gradient(180deg, #8bc5f5 0%, #b1cff5 100%);
    width: 100%;
    /* margin-left: -12px; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.conteText{
    width: 75%;
    height: 400px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 5px;
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    z-index: 1;
}

.frase{
    font-size: 40px;
    font-weight: bolder;
    line-height: 35px;
    color: white;
    text-align: center !important;
}

.larg{
    text-align: center;
    color: rgb(54, 54, 54);
}

.circulo1 {
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #d7c0f6;
    filter: blur(60px);
    position: absolute;
    bottom: 0;
    left: -30px;

}

.Img{
    margin-top: 5px;
    margin-bottom: 20px;
}
.cont_form{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 26px;
    font-weight: bolder;
    color: #303030;
    text-align: center;
    padding-bottom: 15px;
    /* text-shadow: 0px 1px 0 rgba(41, 41, 41, 0.5); */

}

.ImgBl {
    margin-bottom: 15px;
}
.desc{
    margin-top: -10px;
    color: #929296;
}

.login{
    width: 100%;
}
.login__field {
    padding: 20px 0px;
    position: relative;
    margin-top: -20px;
}

.login__icon {
    position: absolute;
    top: 35px;
    /* left: 5px; */
    color: #aaa8a8;
    margin-left: 10px;
    margin-right: 10px !important;
}

.login__input {
    border: 2px solid #dcdedd;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition:.3s;
    border-radius: 5px;
}

.login__input::placeholder {
    padding-left: 10px !important;
}
.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    /* border-bottom-color: #0f8f83; */
}

.conten{
    /* background-image: url("../../../assets/img/backgroundImg.png");
    background-size: 100%; */
    background: linear-gradient(135deg, #005DB9, #1f94ee, #98c4ff, #0e74da, #1f94ee);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    animation: animacion 10s infinite;
    background-size: 500%;
}

@keyframes animacion{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.conti_form{
    background-color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.lab{
    font-size: 14px;
    font-weight: 600;
    /* margin-bottom: -5px; */
}

.login__submit {
    background: linear-gradient(90deg, #005db9 0%, #057fde 35%);;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    width: 100%;
    color: #ffffff;
    /* box-shadow: 0px 2px 2px #24877d; */
    cursor: pointer;
    transition: .2s;
    margin-bottom: 10px;
    text-align: center;
}
.login__submit:hover{
    background-color: #0b5d55;
    color: white;
    /* transform: translateX(100%); */
    transition: all .5s ease-in;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #24877d;
    outline: none;
}

.enlace{
    text-decoration: none;
    color: #005cb985;
    font-weight: bold;
    margin-top: 5px;
}

.showPassIcon {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
    color: #aaa8a8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hidePassIcon {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
    color: #aaa8a8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

@media (max-width: 900px){
    .container-fluid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .cont_form{
        /* height: 100vh; */
        background-color: rgb(255, 255, 255);
        width: 100%;
    }

    .conten{
        width: 100%;
        /* margin: 0px 10px; */
        /* margin-top: 20px !important; */
    }

    .Img{
        margin-top: 5px;
    }

    .titulo{
        font-size: 25px;
    }
    .eslogan{
            /* height: 100vh; */
        background: linear-gradient(180deg, rgba(111,190,247,1) 0%, rgba(177,207,245,1) 100%);
        width: 107%;
        margin-left: -12px;
        height: 150px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conteText{
        width: 100%;
        height: 100%;
        background-color: transparent;
    }


    .frase{
        font-size: 20px;
        font-weight: bolder;
        line-height: 35px;
    }

    .larg{
        display: none;
    }

    .circulo1 {
        width: 120px;
        height: 120px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #f6c0c0;
        filter: blur(50px);
        position: absolute;
        top: 0;
        left: -30px;

    }
}





















.navigation .head img {
    top: 10px;
    left: 30px;
  }

  .navigation .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
  }

  .navigation.actived ul {
    margin-left: 10px;
    transition: 0.5s;
  }


  .navigation ul li.actived {
    width: 200%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(55, 47, 72, 0.8);
  }


  .navigation ul li.actived a {
    color: #fff !important;
  }

  .navigation ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navigation ul li.actived .active{
    background-color: salmon;
    width: 140% !important;
  }

  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold !important;
  }



  .navigation ul li a .icon i {
    font-size: 1.5em;
  }

  .navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    /* height: 60px; */
    line-height: 60px;
    white-space: normal;
    font-size: 14px;
  }


  .toggle {
    position: fixed;
    top: 10px;
    left: 85px;
    width: 35px;
    height: 35px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .toggle.actived {
    margin-left: 203px;
    transition: 0.5s;
    background-color: transparent !important;

  }

  .toggle i {
    position: absolute;
    color: #303030;
    font-size: 25px;
    display: none;
  }

  .toggle i.open,
  .toggle.actived i.close {
    display: block;
  }

  .toggle i.close,
  .toggle.actived i.open {
    display: none;
  }

  .navigation .nomb {
    display: none !important;
  }

  .navigation.actived .nomb {
    display: flex !important;
    flex-direction: column;
    line-height: 100%;
    justify-content: center;
  }

  .navigation .head {
    display: flex;
    flex-direction: row;
    line-height: 100%;
    margin-top: 20px;
    color: #fff;
  }

  .navigation .perf {
    padding: 10px;
  }

  .navigation .perf img {
    border-radius: 10px;
    border: 2px solid #303030;
  }

  .navigation .nomb {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    justify-content: center;

    font-size: 18px;
  }

  .navigation .nomb .Use {
    font-weight: 800 !important;
  }

  .navigation.actived .navb {
    left: 285px;
  }

  .navb {
    background-color: #f1f1f1;
    width: calc(100% - 205px);
    position: fixed;
    left: 205px;
    height: 60px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  }

  .navb .ic-men {
    padding: 10px;
  }

  .navb .ic-men i {
    padding: 10px;
    font-size: 28px;
  }

  .navb .notif {
    display: flex;
    width: 250px;
    font-size: 25px;
    float: right;
    margin-right: 100px;
    margin-top: 10px !important;
    transition: 0.5s;
  }

  .navigation.actived .notif {
    margin-right: 280px;
    transition: 0.5s;
  }

  #dropdownMenuButton1{
    background-color: transparent;
    margin-left: 10px;
    margin-top: 0px;
  }

  .notif .noti {
    color: #303030;
    margin-right: 20px;
  }

  .notif .comen {
    color: #303030 !important;
  }


  #muestra{
    left: 50% !important;
    margin-left: 50% !important;
  }

  #muestra li{
    padding-left: 30px;
  }

  #muestra li a{
    background-color: transparent !important;
    color: #303030 !important;
  }

  #muestra a:hover{
    background-color: transparent !important;
    color: #303030 !important;
  }


.projects-section {
    font-family: 'Poppins', sans-serif !important;
}

.card {
    position: absolute !important;
}

.projects-section {
    flex: 2;
    background-color: white !important;
    border-radius: 10px;
    padding: 20px;
    margin-top: -175px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 240px;
    width: calc(100% - 270px);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}


.content {
    margin: 50px;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140pc;
    }
}

.img-usr {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: -5px;
}

.btn-white{
  background-color: #fff;
  color: #0e74da
}

.profile-btn {
    display: flex;
    align-items: center;
}

@media (max-width: 420px) {
    .container {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-left: 1pc !important;
        margin-right: 1pc !important;
    }
    .content {
        margin-top: 10px;
        padding: 5px;
        margin: 0px;
    }
    .projects-section {
        padding: 5px !important;
        margin-top: -150px !important;
    }
    .app-content {
        margin-top: 45px;
    }
}

ul #Icomen {
    margin-top: -100px;
}


/* Switch*/

.switch {
    background: transparent;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
}

#wsi {
    margin-bottom: -80px;
}

.card {
    border-radius: 20px;

    background-color: #DBF6FD;
    font-family: "DM Sans", sans-serif;
    border: 0px;
}

.card h5 {
    font-size: 20px;
    color: rgba(37, 37, 37, 0.774);
}

@media(max-width: 900px){
    .navb {
        background-color: #f1f1f1;
        width: 100%;
        position: fixed;
        left: 75px;
        height: 60px;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    }

    .toggle {
        position: fixed;
        top: 10px;
        left: 85px;
        width: 35px;
        height: 35px;
        margin-right: 780px !important;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .toggle.actived {
        margin-left: 203px;
        transition: 0.5s;
        background-color: transparent !important;

    }

    .notif{
        margin-right: 51px !important;
    }

    #muestra{
        left: 30% !important;
        margin-left: 50% !important;
    }

    .projects-section{
        margin-top: 70px !important;
        padding: 20px !important;
    }


}
